/* Estilos para cards de las tareas*/

.card {
    width: 18rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;
    border-style: none;
    width: 45%;
    padding: 15px;
    transition: 0.2s;




}

.card:hover {
    width: 18rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;
    border-style: none;
    width: 46%;
    padding: 15px;



}

.buttonsContainer {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
}

.containerForm {
    width: 30%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 0px 25px 35px 25px;
    margin-top: 50px;
    border-radius: 10px;
    background: #fff;
}

.containerTasks {
    width: 90%;
    margin-top: 50px;

}

.containerTasks h1 {
    text-align: center;
}

.tasks {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 50px;
}

.titleForm {
    color: #444444;
}